{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>Administar pois</title>
</head>

	<br>
	<br>
  <h1>Administar pois</h1>  
  <body style="margin:50px 0; padding:0;text-align:center;">
  
    <div>
	  <input class="filterComuna" type="text" id="textNombre" placeholder="nombre" size="25" max="10">
	  {{>selectorTipo.hbs}}
    </div>
    <div>
    	<form action="/terminal" method="GET">	
        	<input class="botonIngresar" type="submit" value="Buscar">
        </form>
    </div>
    <br>
    <div>
        <table class="table table-stripped" align="center">
            <tr class="row header">
            <th class="cell" >Nombre</th>
            <th class="cell" >Direccion</th>
            <th class="cell" >Tipo<br></th>
        </tr>
        
        {{#each terminales}}
        <tr class="row" >
            <td class="cell" >UTN FRBA<br></td>
            <td class="cell" >Mozart 2300<br></td>
            <td class="cell" >La facu(?)<br></td>
        </tr>
        {{/each}}
        </table>
    </div>
     <div>
        <button class="botonBuscar" value="Atras"/>Atras</button>
        <button class="botonBuscar" value="Editar"/>Editar</button>
        <button class="botonWarning" value="Eliminar"/>Eliminar</button>
    </div>
  <footer class="footer">
     <p class="text-center">
       &copy; 2016 UTN FRBA
     </p>
 </footer>
  
  
 </body>
</html>
