
{{>navBar.hbs}}


<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POI</title>
</head>

   <br><br>
   
  <h1>ALTA POI</h1>  
  <body style="text-align:center";>
  
    <form action="/altaPoi" method="POST">	
    
    	Nombre: 
	  <input class="filterComuna" type="text" id="textNombre" placeholder="nombre" name="nombre" size="25" max="10">
	  <br>
		Direccion: 	 
	  <input class="filterComuna" type="text" id="textDireccion" placeholder="direccion" name="direccion" size="25" max="10">
	  <br>
	  
	
	  <input class="botonIngresar" type="submit" value="AGREGAR">
	  
    </form>
    
  
 </body>
</html>