
{{>navBar.hbs}}


<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>Terminal</title>
</head>

   <br><br>
   
  <h1>BAJA TERMINAL</h1>  
  <body style="text-align:center";>
  
    
    
  
 </body>
</html>