{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POIS</title>
</head>

   <div>    </div>
   <div>    </div>
  <h1> VER POIS</h1>  
  <body style="text-align:center">
  
  
    <div>
  	<h5> A continuacion se muestran los Pois de la busqueda </h5>
    <br>
    	<br>
	<br>
	
	<div style="width:800px; margin:0 auto;">
  		 <h2>RESULTADOS</h2>
  		 
  		 <br>
  		 <br>
  		 
  		 <table class="table table-stripped" align="center">
			   <tr class="row header">
			   	   <th>Id</th>
				   <th>Nombre</th>
				   <th>Ubicacion</th>
				   <th>Calle</th>
				   <th>Direccion</th>
				   <th>Comuna</th>
			   </tr>
		
	<!--  	   {{#each pois}}
			   <tr class="row">
				   <td>{{id}}</td>
				   <td>{{nombre}}</td>
				   <td>{{ubicacion}}</td>
				   <td>{{calle}}</td>
				   <td>{{direccion}}</td>
				   <td>{{comuna}}</td>
				   <td>
			   </tr>
		      {{/each}} -->
		</table>
    </div> 

  
 </body>
</html>