{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>Editar Poi</title>
</head>


   <div>    </div>
   <div>    </div>
  <h1>Editar Poi</h1>  
  <body>
    <div>
    	Nombre anterior: {{nombre}}
    	<br>
        <input class="filterComuna" type="text" id="textNombre" placeholder="nombre" size="25" max="10">
        <br>
        Direccion anterior: {{direccion}}
    	<br>
        <input class="filterComuna" type="text" id="textNombre" placeholder="direccion" size="25" max="10">
        <br>
        Latitud anterior: {{latitud}}
    	<br>
        <input class="filterComuna" type="text" id="textNombre" placeholder="latitud" size="25" max="10">
        <br>
        Longitud anterior: {{longitud}}
    	<br>
        <input class="filterComuna" type="text" id="textNombre" placeholder="longitud" size="25" max="10">
        <br>
    </div>
     <div>
        <button class="botonBuscar" value="Atras"/>Atras</button>
        <button class="botonWarning" value="Confirmar"/>Confirmar</button>
    </div>
  <footer class="footer">
     <p class="text-center">
       &copy; 2016 UTN FRBA
     </p>
 </footer>
  
 </body>
</html>
