{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POIS</title>
</head>
  	

   <div>    </div>
   <div>    </div>
  <h1>HISTORICO CONSULTAS</h1>  
  <body>
  
    <div>
	  <input class="filterFecha" type="text" id="fechaDesde" placeholder="desde" size="25" max="10">
	  <input class="filterFecha" type="text" id="fechaHasta" placeholder="hasta" size="25" max="10">
    </div> 
    
    <div>
      <input class="num" type="text" id="numeroPois" placeholder="cantidad de pois" size="25" max="10">
    </div>
    
	<div>
      <input class="num" type="text" id="numeroPois" placeholder="terminal" size="25" max="10">
    </div>
	
    <div>
    <form action="/historico-consulta" method="GET">	
         	<input class="botonIngresar" type="submit" value="Buscar">
    </form>
    </div>
	
	<div>    </div>
	<div>    </div>
	<div>
  		 <h2>RESULTADOS</h2>
  		 <div class="wrapper">
  	  	  <div class="table table-stripped">
  	   	    <div class="row header">
     		   <div class="cell"> Fecha</div>
     	 	   <div class="cell">Pois&nbspEncontrados </div>
            </div>
			
			{{#each busqueda}}
  	      <div class="row">
    	      <div class="cell"> {{fecha}}</div>
       		  <div class="cell"> {{cantidadPois}} </div>
 	 	 </div>
		 {{/each}}
		
		 
		 
		 </div>
  </div>

  
  <footer class="footer">
     <p class="text-center">
       &copy; 2016 UTN FRBA
     </p>
 </footer>
  
 </body>
</html>