{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POIS</title>
</head>
  	
  <h1>HISTORICO CONSULTAS</h1>  
  
  <body>

	  <input class="filterFecha" type="text" id="fechaDesde" placeholder="desde" size="25" max="10">
	  <input class="filterFecha" type="text" id="fechaHasta" placeholder="hasta" size="25" max="10">
  
      <input class="num" type="text" id="numeroPois" placeholder="cantidad de pois" size="25" max="10">

      <input class="num" type="text" id="terminal" placeholder="terminal" size="25" max="10">
 
	

    <form action="/historico-consulta" method="GET">	
    	<!-- ACA ADENTRO TIENEN QUE IR LOS VALORES Q VAYAN COMO PARAMETRO -->
        <input class="botonIngresar" type="submit" value="Buscar">
    </form>
	
	<br><br>
	
	<div>
  		 <h2>RESULTADOS</h2>
  		 <div class="wrapper">
  	  	  <div class="table table-stripped">
  	   	    <div class="row header">
     		   <div class="cell"> Fecha</div>
     	 	   <div class="cell">Pois&nbspEncontrados </div>
            </div>
			
			{{#each busqueda}}
  	      <div class="row">
    	      <div class="cell"> {{fecha}}</div>
       		  <div class="cell"> {{cantidadPois}} </div>
 	 	 </div>
		 {{/each}}
		
		 
		 
		 </div>
  </div>

  
 </body>
</html>