/* -----------------------
Autor: internet
------------------------*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #e3e0cc;
}

.navbar {

    list-style-type: none;
    margin: 0;
    padding: 0;
   display: inline;
 
}


a {
    display: table;
    padding: 8px;
    background-color:  #e8edd4;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}


.passwd{
        background-color: #f0f0f0;
}
 
div {
    width: 98%;
    padding: 0.5em;
    text-align: center;
}

h1,h2,h3 {
    color: black;
    text-align: center;
}

.botonBuscar, .botonWarning, .botonFeliz {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.botonFeliz{
        background-color: #00BA00;
}

.botonWarning{
        background-color: #992244;
}
h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
        font-family: "Liberation Sans", "Verdana";
        color: #333333;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}


a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; font-style: italic;}
a:active { color: red; }

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 50em;
	margin: 0 auto;
}


.btn:active
{
	color: #fff !important;
	background-color: red;
}


.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  text-align: center;
  border-collapse: collapse; 
}

tr:nth-child(even) {background-color: #f2f2f2}

th, td {
    padding: 15px;
    text-align: center;
}

.tr.header {
    background-color: #2E9AFE;
    color: white;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  size:portrait;
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 12px 12;
    display: block;
  }
}

.cell {
  padding: 10px 70px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 10px;
    display: block;
  }
}

