{{#partial "titulo"}}
Administrar POIs
{{/partial}}

{{#partial "principal"}}
  <h1>Editar Poi</h1>  
    <div>
    	<form action="/administrarPoi?tipo=Todos&nombre=all" method="POST"> 
    	Nombre anterior: {{nombre}}
    	<br>
        <input class="filterComuna" type="text" name="nuevoNombre" id="textNombre" placeholder="nombre" size="25" max="10">
        <br>
        Direccion anterior: {{direccion}}
    	<br>
        <input class="filterComuna" type="text" name="nuevaDireccion" id="textNombre" placeholder="direccion" size="25" max="10">
        <br>
        Latitud anterior: {{latitud}}
    	<br>
        <input class="filterComuna" type="text" name="nuevaLatitud" id="textNombre" placeholder="latitud" size="25" max="10">
        <br>
        Longitud anterior: {{longitud}}
    	<br>
        <input class="filterComuna" type="text" name="nuevaLongitud" id="textNombre" placeholder="longitud" size="25" max="10">
        <br>
    </div>
     <div>
		<input class="botonIngresar" type="submit" value="GUARDAR">
    </div>
         </form>
{{/partial}}
{{>layout.hbs}}

