
{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POIS</title>
</head>
  	<nav class = "navbar">
     <ul class="main-menu ed-menu web-horizontal">
		<li><a href="http://localhost:4567/">Inicio</a>
		<a href="">Administrar Poi</a>
		<a href="">Administrar Terminales</a>
		<a href="">Historico de Consultas</a>
		</li>
	</ul>
	</nav>

   <div>    </div>
   <div>    </div>
  <h1>MODIFICAR TERMINAL</h1>  
  <body>
  
  
    <div>
  	<h5> Realice los cambios y haga click en Guardar </h5>
    <br>
    	Nombre: 
	  <input class="filterComuna" type="text" id="textNombre" placeholder="nombre" size="25" max="10">
	  <br>
		Comuna: 	 
	  <input class="filterComuna" type="text" id="textComuma" placeholder="comuna" size="25" max="10">
	  <br>
	  	Mails Activados: 
	  <input class="filterComuna" type="checkbox" id="checkMailsActivados" checked>
	  <br>
	  	Registros Activados: 
	  <input class="filterComuna" type="checkbox" id="checkRegistrosActivados" checked>
	<br>
	<br>
    	<button class="botonGuardar" value="GUARDAR"/>GUARDAR</button>
    </div> 

  
  <footer class="footer">
     <p class="text-center">
       &copy; 2016 UTN FRBA
     </p>
 </footer>
  
 </body>
</html>