
{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POIS</title>
</head>

   <div>    </div>
   <div>    </div>
  <h1>MODIFICAR TERMINAL ID: {{numeroTerminal}}</h1>  
  <body style="text-align:center">
  
  
    <div>
  	<h5> Realice los cambios y haga click en Guardar (No me quedo mas fea la pantalla porque no tuve mas tiempo) </h5>
    <br>
    	<table align="center" cellspacing="10">
	    	<tr>
	    		<td>Nombre anterior</td>
	    		<td> {{nombre}} </td>
	    	</tr>
	    	<tr>
		  		<td>Comuna anterior</td>
	    		<td> {{numeroComuna}} </td>
		  	</tr>
		  	<tr>
		  		<td> 
		  			Nombre nuevo 
		  			<br>
		  			<br>
		  			Comuna nueva
		  		</td>
		    	
		    	<td>
			    	<form action="/modificarTerminal" method="POST"> 
			    		<br>
			    		<br>
			    		<br>
			    		<br>
			    		<input type="hidden" name="numeroTerminal" value={{numeroTerminal}}>
			    		
					    <input class="filterComuna" type="text" name="nuevoNombre" id="textNombre" placeholder="nombre" size="25" max="10">
						<br>
					  	<input class="filterComuna" type="text" name="nuevaComuna" id="textComuma" placeholder="comuna" size="25" max="10">
									  	
						<br>
						<br>
			    		<input class="botonIngresar" type="submit" value="GUARDAR">
	    			</form>
	    			
	    		</td>
    		</tr>
    	</table>
    </div> 

  
 </body>
</html>