<html>
<head>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<!-- <link rel="stylesheet"  href="main.css"> -->
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/pois">Administrar Pois</a></li>
          <li><a href="/terminal">Administrar Terminales</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>
</body>
</html>
