
{{>navBar.hbs}}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
<head>
   <title>POIS</title>
   
  		<h4>PERFIL : Terminal</h4>
		<div> <h4>Nombre: {{terminal.nombre}} Numero: {{terminal.numeroTerminal}} </h4> </div>
		</head>
<body>
	<div> </div>
		 
	<h1>Busqueda de pois</h1>  
	
	<h2> Ingrese criterios de busqued</h2>
	
	<div> </div>
	<div> </div>
	<form action="/pois" method="GET" id="consulta">
	    <div>
	   <input class="passwd" type="text" name="nombre" placeholder="nombre" size="25" max="10">
   	 </div>   
	</form>
	
	 <div>
	  <h4>Tipo: <select name = "tipo" form = "consulta" >
  	  		  <option value="Negocio">Negocio</option>
  	 		  <option value="EstacionDeColectivo">Estacion de Colectivo</option>
  	 		  <option value="Banco">Banco</option>
  			  <option value="Cgp">CGP</option>
  	 		  </select>
	  </h4>
	 </div>
   
     <div>
       <input form = "consulta" class="botonBuscar" type="submit" value="BUSCAR">
     </div>
	</form>
		 	<footer class="footer">
     <p class="text-center">
       &copy; 2016 UTN FRBA
     </p>
 </footer>
  </body>
     
</html>