{{#partial "titulo"}}
 Terminal
{{/partial}}

{{#partial "principal"}}
	<div><h4>PERFIL : Terminal</h4></div>
	<div> <h4>Nombre: {{terminal.nombre}} Numero: {{terminal.numeroTerminal}} </h4> </div>
	<div> </div>
		 
	<h1>Busqueda de pois</h1>  
	
	<h2> Ingrese criterios de busqueda</h2>
	
	<div> </div>
	<div> </div>
	<form action="/pois" method="GET" id="consulta">
	    <div>
	   <input class="passwd" type="text" name="nombre" placeholder="nombre" size="25" max="10">
	   <input class="passwd" type="text" name="calle" placeholder="calle" size="25" max="10">
	   <input class="passwd" type="text" name="tags" placeholder="tags" size="25" max="10">
	   <input type="hidden" name="terminal" value={{terminal.numeroTerminal}}>	
   	 </div>   
	</form>	
		{{>selectorTipo.hbs}}   
     <div>
       <input form = "consulta" class="botonBuscar" type="submit" value="BUSCAR">
     </div>
	</form>
{{/partial}}
{{>layout.hbs}}