<h4>Tipo: <select name = "tipo" form = "consulta" >
  	  		  <option value="Negocio">Negocio</option>
  	 		  <option value="Colectivo">Estacion de Colectivo</option>
  	 		  <option value="Banco">Banco</option>
  			  <option value="CGP">CGP</option>
  	 		  </select>
</h4>
