	 <div>
	  <h4>Tipo: <select name = "tipo" form = "consulta" >
	  		  <option value="Todos">Todos</option>
  	  		  <option value="Negocio">Negocio</option>
  	 		  <option value="EstacionDeColectivo">Estacion de Colectivo</option>
  	 		  <option value="Banco">Banco</option>
  			  <option value="Cgp">CGP</option>
  	 		  </select>
	  </h4>
	 </div>
