	 <div>
	  <h4>Tipo: <select name = "tipo" form = "consulta" >
  	  		  <option value="negocio">Negocio</option>
  	 		  <option value="colectivo">Estacion de Colectivo</option>
  	 		  <option value="banco">Banco</option>
  			  <option value="CGP">CGP</option>
  	 		  </select>
	  </h4>
	 </div>
