
{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POIS</title>
</head>

	<br>
	<br>
	
  <h1>ADMINISTRACION DE TERMINALES</h1>  
  	<body style="margin:50px 0; padding:0;text-align:center;">
  
    <div>
    	<form action="/terminal" method="GET">	
    		<input class="passwd" type="text" id="comuna" name="comuna" placeholder="comuna" size="25" max="10">
	  		<input class="botonIngresar" type="submit" value="BUSCAR">
	  	</form>
    </div> 
	
	<br>
	<br>
	
	<div style="width:800px; margin:0 auto;">
  		 <h2>RESULTADOS</h2>
  		 
  		 <br>
  		 <br>
  		 
  		 <table class="table table-stripped" align="center">
			   <tr class="row header">
			   	   <th>Terminal</th>
				   <th>Nombre</th>
				   <th>Comuna</th>
				   <th>Seleccionar</th>
			   </tr>
		
			   {{#each terminales}}
			   <tr class="row">
				   <td>{{numeroTerminal}}</td>
				   <td>{{nombre}}</td>
				   <td>{{numeroComuna}}</td>
				   <td><input type="checkbox" id="checkSeleccion"></td>
			  </tr>
		      {{/each}}
		</table>
		 
		   <div>
  			<form action="/altaTerminal" method="GET">	
	  			<input class="botonIngresar" type="submit" value="ALTA">
    		</form>
    		
    		<button class="botonEditar" value="EDITAR"/>EDITAR</button>
   			<button class="botonEliminar" value="ELIMINAR"/>ELIMINAR</button>
   			
 		  </div>
		 
  </div>
  

	
	<script>
	
	var table = document.getElementById("tablaTerminales");
  	var tablerows = table.rows;
  	
  	for (var i=0, n=tablerows.length;i<n;i++) {
    tablerows[i].onclick=function() {
      alert(tablerows[i].textContent?tablerows[i].textContent:tablerows[i].innerText)
    }
	
	function abrirAgregarTerminal() {
	    window.open("/nuevaTerminal.html");
	}
	
	function abrirEditarTerminal() {
	    window.open("/modificarTerminal.html");
	}
	
	function eliminarTerminal() {
	    
	}
	</script>

  
 </body>
</html>