
{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>POIS</title>
</head>

   <div>    </div>
   <div>    </div>
  <h1>ADMINISTRACION DE TERMINALES</h1>  
  <body>
  
    <div>
	  <input class="filterComuna" type="text" id="comuna" placeholder="comuna" size="25" max="10">
	  
	  
    	<button class="botonBuscar" value="BUSCAR"/>BUSCAR</button>
    </div> 
	
	<br>
	<br>
	
	<div>
  		 <h2>RESULTADOS</h2>
  		 
  		 <br>
  		 <br>
  		 
  		 <table style="width:50%" id="tablaTerminales" align="center">
		  <tr>
		    <th>Terminal</th>
		    <th>Nombre</th>
		  </tr>
		  <tr>
		    <td>50</td>
		    <td>Jill</td>
		  </tr>
		  <tr>
		    <td>94</td>
		    <td>Eve</td>
		  </tr>
		</table>
		 
		   <div>
  	
    		<button class="botonAgregar" value="AGREGAR" onClick=abrirAgregarTerminal()/>AGREGAR</button>
    		<button class="botonEditar" value="EDITAR"/>EDITAR</button>
   			<button class="botonEliminar" value="ELIMINAR"/>ELIMINAR</button>
   			
 		  </div>
		 
  </div>
  

	
	<script>
	
	var table = document.getElementById("tablaTerminales");
  	var tablerows = table.rows;
  	
  	for (var i=0, n=tablerows.length;i<n;i++) {
    tablerows[i].onclick=function() {
      alert(tablerows[i].textContent?tablerows[i].textContent:tablerows[i].innerText)
    }
	
	function abrirAgregarTerminal() {
	    window.open("localhost:4567/agregarTerminal.html");
	}
	
	function abrirEditarTerminal() {
	    window.open("localhost:4567/modificarTerminal.html");
	}
	
	function eliminarTerminal() {
	    
	}
	</script>

  
 </body>
</html>